*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --primary:#0A66C2;
    --secondary:#00A0DC;
    --accent:#FFC624;
    --text:rgb(87, 87, 87);
}
body{
    margin: 0;
    background-color: #F0F2F5;
    width: 100%;
}
/* //////////////////////HEADER////////////////////// */

header{
    width: 100%;
    height:61px;
    background-color: var(--primary) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

header input
{
    padding: 7px;
    margin-right: 20px;
    background-color: var(--accent);
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
}

header input:hover
{
    cursor: pointer;
    opacity: 0.9;
    color: var(--text);
}
.logo-search
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 10px;
}

.logo-search
{
    display: flex;
    
}

.logo-search input
{
    border-radius: 15px;
    background-color: var(--secondary);
    border: none;
    outline: none;
    font-size: 20px;
}



.logo-search img
{
    width: 40px;
    height: 40px;
    color: var(--primary);
    border-radius: 10px;
    
}

.menu
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu .menu-item
{
    /* width: 50px;
    height: 50px; */
    /* border-radius: 50%; */
    background-color:#F0F2F5;
    margin-right: 20px;
    background-color: var(--primary);
}
.menu .menu-item i
{
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .menu-item i:hover
{
    color: var(--secondary);
    cursor: pointer;
}

/* //////////////////  MAIN //////////////////// */
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.wrapper
{
    max-width: 1000px;
}
.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
section
{
    margin-right: 50px;
}
.profil
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 210px;
    height: 226px;
    background-color: white;
}

.profil-img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--secondary);
}
.trends
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 210px;
    height: 566px;
    margin-top: 10px;
}


.main-menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 605px;
    height: 27px;
    border-radius: 10px;
}

.write-something
{
    width: 549px;
    height: 120px;
    background-color: white;
    margin:10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}